body {
    padding: 10px;
}
#currentFolder {
    font-weight : bold;
}
div#folderWrapper {
    width: 300px;
    text-align: center;
}
input#addFolder {
    margin: 0;
    width: 200px;
    height : 30px;
    display: block;
    margin: 5px 50px;
    box-sizing: border-box;
}
div.folder {
     display: block;
	margin: 5px 50px;
}
div.nav {
    text-align: center;
    margin: 0;
    margin-top: 15px;
}
hr {
    margin : 5px 0px;
}
.breadcrumb li {
    cursor: pointer;
}